/* --------------- common styles ------------ */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


 /* header styles */
header{
    background-color:skyblue;
    padding-top: 20px;
    height: auto;
}
.top-section{
    margin-left: 200px;
}
.top-section{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.heading-banner{
    overflow: hidden;
}
.top-section:hover .heading-banner img{
    transform: scale(1.3) rotate(360deg);   
    transition: transform 1s ease-in-out;
}

header img{
    height: 438px;
    width: 556px;
}
header h1{
    font-size:60px;
    color: white;
}
.heading-banner{
    margin-left: 200px;
}
.header-button{
    color: white;
    background-color: tomato;
    padding:10px 20px;
    border-radius: 3px;
    border: 1px solid tomato;
    font-weight: bold;
}


/* main-section-styles */
.main-section{
    margin-left: 200px;
    margin-top: 40px;
}
.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.players{
    box-shadow: 10px 10px 30px gray;
    border-radius: 3px;
    width: 332px;
    padding:10px;
    margin-bottom: 25px;
}
.players-thumbnail-image img{
    height: 390px;
    width: 330px; 
}
.players-info p{
    color: gray;
}

/* footer-style */
footer{
    margin-top: 70px;
    text-align: center;
}
.footer-logo img{
    height: 60px;
    width: auto;
}

.footer-icon i{
    color: dimgray;
    background-color: lightgray;
    padding: 12px;
    border-radius: 25px;

}


/* media-query-for-mobile-devices */

@media only screen and (max-width:650px) {
    
    .top-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }

    .all-players{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}